apiVersion: v1
kind: Service
metadata:
  name: {{ include "mlss-api.fullname" . }}
  labels:
    app: mlss-api
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
  selector:

    app: mlss-api
